<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>

<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Category Registration</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="/admin/ultimateblog/categories/save">
                <input class="form-control" type="text" name="title" placeholder="Define the category title"><br>
                <button class="btn btn-success">Register</button>
                <input type="hidden" name="form_submission[source]" id="form_submission_source" value="utmSource()">

                <script>
                    function utmSource(){
                    var url_string = window.location.href;
                    var url = new URL(url_string);
                    var data = url.searchParams.get("utm_source"); 
                    return data;
                    }
                    console.log(utmSource());
                </script>
            </form>
        </div>
    </div>
</div>



<%- include ('../../partials/footer.ejs') %>