<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/ultimateblog">
        <img src="../../public/img/lenito-logo.png">
    </a>

    <ul class="navbar-nav mr-auto">

        <li class="nav-item">
            <a class="nav-link" href="/ultimateblog">Home</a>
        </li>

    </ul>
</nav>