<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/ultimateblog">
        <img src="../../public/img/lenito-logo.png">
    </a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/admin/ultimateblog/categories">Categories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/ultimateblog/articles">Articles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/ultimateblog/users">Users</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/admin/ultimateblog/logout">Logout</a>
        </li>

    </ul>
</nav>